@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: linear-gradient(to right, #d1913c, #ffd194);
}

.container {
  @apply mx-auto px-4;
}

.pokemon-card-new {
  width: 320px; /* Increased width to accommodate new design */
  margin: 1rem;
  animation: fadeIn 0.5s ease-in-out;
}

.pokeball-loader {
  width: 50px;
  height: 50px;
  background-image: url('https://upload.wikimedia.org/wikipedia/commons/5/53/Pok%C3%A9_Ball_icon.svg');
  background-size: contain;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
